<style>

  :root{
    font-size: 1rem;
  }

  a#s-lc-public-skiplink:focus {
    position: absolute;
    top: 0;
    z-index: 9999;
    background-color: white;
    padding: 10px;
    color: black;
}

  h1, h2, h3, h4, h5, h6{
    font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
  }

  body{
  margin-left:0px !important;
  }

  header{
      position: relative;
      width: 100%;
      min-height: auto;
      text-align: center;
      color: #fff;
      background-color:black;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
  }

  .navbar-brand>img {
      display: inline-block;
  }

  .logo-style{
  	max-height:25px;
    margin-top:-10px;
  }

  ul.nav a:hover { color: #FFB900 !important; }

  .navbar-nav{
  	padding:0;
  	margin:0;
  }

  .navbar .navbar-default .navbar-nav .nav-link {
      letter-spacing: normal;
  }

  .navbar{
        padding: 0.5rem 1rem;
        background-color:black;
        border-bottom:1px solid white;
  }

  .navbar .navbar-nav {
      float: none;
  display:inline-block;
  }

  @media(max-width:1005px){
  .navbar .navbar-nav{
  display: block;
  }
  .navbar{
  padding-bottom:5px;
  }
  }

  .navbar .navbar-collapse {
      text-align: center;
  }

  .navbar-default .navbar-nav>li>a {
    color: white;
}
  a.nav-link{
    font-size:1.25em;
    font-family: "GraphikRegular", Helvetica, Arial, sans-serif;
  	padding-top:10px;
  	padding-bottom:10px;
  }

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

  .s-la-navbrowse {
  display:none;
  }
  .navbar-text {
      display: none;
  }
  .s-la-color-bars {
  background-color:white !important;
  background-image: none !important;
  font-size: 1.3em;
  font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;
  }

  .s-la-color-bars-border {
     border-color: black !important;
     border-width:0px !important;

  }

  #s-la-page-title-bar{
  display: none !important;
  height:0px !important;
  }
  .s-la-content-search-query{
  height:40px !important;
  }

  .form-control{
  	padding-left:20px !important;
  }

  /*Search Bars*/
  .search-bar {
    border-top-left-radius:3rem !important;
    border-bottom-left-radius:3rem !important;
    height:50px !important;
    background-color:white;
  }

  .search-button {
    border-top-right-radius:3rem !important;
    border-bottom-right-radius:3rem !important;
    background-color:white !important;
    height:50px !important;
  }
  .search-button:hover {
    border-top-right-radius:3rem !important;
    border-bottom-right-radius:3rem !important;
    color:black !important;
    height:50px !important;
  }

  .search-box{
    margin-top:100px !important;
    margin-bottom:50px !important;
    padding:10px !important;
    width:90% !important;
    margin-left:5%;
    border-radius:5px;
    color:white;
  }
  @media (min-width: 1000px) {
  .search-box{
    margin-top:130px !important;
    margin-bottom:80px !important;
    padding:10px !important;
    width:60% !important;
    margin-left:20%;
    color:white;
  }
  }

  .search-box .form-control{
  border-width:0px !important;
  }
  /*remove libanswers borders/padding around search bar*/
  .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
       padding: 0px
  }

  .navbar-default .navbar-toggle {
      border-color: rgba(255, 255, 255, 0.1);
  }
  .btn{
  	border-radius:0px;
  }

  .input-group-addon {
      padding: 0px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: transparent;
      border: 0px solid transparent;
      border-radius: 4px;
  }

  .fa-search{
  	font-size:1.2rem;
  }

  .breadcrumb{
  	display:none;
  }

  .s-la-content-search-query {
  	border: 1px solid black !important;
  }
  /*libAnswers customizations: apply pratt style*/
  .s-la-searchform-button {
  background-color:white !important;
  background-image:none;
  color:black;
  border-width:1px;
  border-color:black;
  height:40px;
  font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;
  }

  hr{
      border-top: 1px solid black !important;
  }

  h1#s-la-public-header-title {
      font-size: 2.8em;
      text-align:center;
  }
  .s-la-public-header-text {
      float: none !important;
      margin-bottom: 20px;
  }
  .s-la-searchform-button:hover {
  background-color:white !important;
  background-image:none !important;
  border-width:1px;
  border-color:black;
  background-color:#0C77D4 !important;
  color: white !important;
  height:40px;
  font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;
  }

  @media (max-width:1217px) {
    .quick-tools {
  display:none;
    }
  }

  .hide {
     position: absolute !important;
     top: -9999px !important;
     left: -9999px !important;
  }

  .dropdown-item{
    color:black !important;
  }

  .navbar-default {
      border-color: none;
  }

  /* || Pratt typography */

  @font-face {
      font-family: "GraphikMedium";
      src: url(https://www.pratt.edu/wp-content/themes/pratt-main/dist/fonts/Graphik-Bold-Web.woff2) format("woff2");
  }

  @font-face {
      font-family: "GraphikRegular";
      src: url(https://www.pratt.edu/wp-content/themes/pratt-main/dist/fonts/Graphik-Regular-Web.woff2) format("woff2");
  }

  /* ==========================================================================
     Typography
     ========================================================================== */

  body{
    font-size:1rem !important;
  }

  .s-la-box-title h2 {
      font-size: 1.2rem !important;
      margin: 5px;
      line-height: 1.7 !important;
  }

  h1,  h2,  h3,  h4,  h5,  h6  {
    font-family: 'GraphikRegular', Helvetica, Arial, sans-serif;
    font-weight:  500;
}
p,  pre  {
    font-family:  "GraphikRegular",  Helvetica,  Arial,  sans-serif;
    margin:  1.125em 0;
    line-height:  1.7em;
    font-size:  1.04em;
    letter-spacing:  normal;
}
p a  {
    color:  #000000;
    padding:  2px;
    border-bottom:  1px solid black;
    border-bottom-width:  1px;
    border-bottom-style:  solid;
    border-bottom-color:  black;
    box-shadow:  inset 0 -1px 0 black;
    text-decoration:  none;
}
p a:hover  {
    color:  white;
    background-color: black;
    padding:  2px;
    transition:  background .15s cubic-bezier(.33,  .66,  .66,  1);
    transition-property:  background;
    transition-duration:  0.15s;
    transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    transition-delay:  0s;
}
blockquote  {
    margin:  1.5em 40px;
}
h1  {
    font-size:  2.75em;
    line-height:  1.5em;
    margin-top:  0.13636em;
    margin-bottom:  0.13636em;
    line-height:  1em;
    text-transform:  uppercase;
    letter-spacing:  0.09em;
}
@media (max-width: 47.938em)  {
    h1  {
    font-size:  2.25em;
}
}
h2  {
    font-size:  1.98rem;
    font-weight:  500;
    line-height:  1.2;
    color:  inherit;
    margin-top:  0;
    letter-spacing:  0.09em;

}
h3  {
    font-size:  2.25em;
    line-height:  1.5em;
    margin-top:  0.15em;
    margin-bottom:  0.15em;
    line-height:  1.25em;
    letter-spacing:  normal;
}
@media (max-width: 47.938em)  {
    h3  {
    font-size:  1.5em;
}
}
h4  {
    font-size:  1em;
    line-height:  2em;
    margin-top:  0.25em;
    margin-bottom:  0.25em;
    line-height:  1.25em;
    letter-spacing:  0.09em;
    text-transform:  uppercase;
}
@media (max-width: 47.938em)  {
    h4  {
    font-size:  1em;
}
}
h5  {
    font-size:  1.04em;
    line-height:  1.2em;
    margin-top:  0.12em;
    margin-bottom:  0.12em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h5  {
    font-size:  0.9375em;
}
}
h6  {
    font-size:  0.95em;
    line-height:  1.57895em;
    margin-top:  0.15789em;
    margin-bottom:  0.15789em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h6  {
    font-size:  0.7125em;
}
}
abbr[title]  {
    border-bottom:  1px dotted;
}
b,  strong  {
    font-family:  "LyonBold",  "GraphikRegular",  Helvetica,  Arial,  sans-serif;
}
dfn  {
    font-style:  italic;
}
hr  {
    -webkit-box-sizing:  content-box;
    -moz-box-sizing:  content-box;
    box-sizing:  content-box;
    background-color:  #8c8c8c;
}
mark  {
    background:  #ff0;
    color:  #000;
}
code,  kbd,  pre,  samp  {
    font-family:  monospace,  serif;
    _font-family:  'courier new',  monospace;
    font-size:  1em;
}
pre  {
    white-space:  pre;
    white-space:  pre-wrap;
    word-wrap:  break-word;
}
q  {
    quotes:  "\201C" "\201D" "\2018" "\2019";
}
small  {
    font-size:  80%;
}
sub,  sup  {
    font-size:  75%;
    line-height:  0;
    position:  relative;
    vertical-align:  baseline;
}
sup  {
    top:  -0.5em;
}
sub  {
    bottom:  -0.25em;
}
dl,  menu,  ol,  ul  {
    margin:  1.3em 0;
}
dd  {
    margin:  0 0 0 40px;
}
menu,  ol,  ul  {
    padding:  0 0 0 40px;
}
nav ul,  nav ol  {
    list-style:  none;
    list-style-image:  none;
}
p  {
    font-size:  1em;
}
a  {
    color:  black;
    -webkit-transition-property:  color;
    -moz-transition-property:  color;
    -o-transition-property:  color;
    transition-property:  color;
    -webkit-transition-duration:  0.2s;
    -moz-transition-duration:  0.2s;
    -o-transition-duration:  0.2s;
    transition-duration:  0.2s;
    word-wrap:  break-word;
    font-size:  1em;
    text-decoration:  none;
    letter-spacing:  normal;
}

  /* ==========================================================================
     Lists
     ========================================================================== */
  /**
   * Address margins set differently in IE 6/7.
   */
  /* line 398, ../sass/_normalize.scss */
  dl,
  menu,
  ol,
  ul {
    margin: 0;
  }

  /* line 412, ../sass/_normalize.scss */
  dd {
    margin: 0 0 0 40px;
  }

  /**
   * Address paddings set differently in IE 6/7.
   */
  /* line 422, ../sass/_normalize.scss */
  menu,
  ol,
  ul {
    padding: 0 0 0 0px;
  }

  /**
   * Correct list images handled incorrectly in IE 7.
   */
  /* line 433, ../sass/_normalize.scss */
  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }

  p{
  font-size:1em;
  }

  a {
      color: #0C77D4;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      word-wrap: break-word;
      font-size: 1em;
      text-decoration: none;
      letter-spacing: normal;
  }

  #s-lc-public-pt {
      margin: 10px 0;
      margin-top:30px !important;
      text-align:center !important;
  }

  @media (max-width: 1170px){
  .account-text {
      display: none;
  }
  }

  .dropdown-menu>li>a {
      color: black !important;
    font-size: 1.3em
  }
  .dropdown-menu>li>a:hover {
      color: white !important;
      background-color: #0C77D4 !important;
  }

  .header0  {
      background-image:  url(https://library.pratt.edu/img/pi_bg.jpg);
  }

  .header1  {
      background-image:  url(https://library.pratt.edu/img/pi_bg.jpg);
  }

  .header2  {
      background-image:  url(https://library.pratt.edu/img/campus1.jpg);
  }
  .header3  {
      background-image:  url(https://library.pratt.edu/img/pi_bg4.jpg);
  }
  .header4  {
      background-image:  url(https://library.pratt.edu/img/pi_bg2.jpg);
  }
  .header5  {
      background-image:  url(https://library.pratt.edu/img/pi_bg5.jpg);
  }


  .icon-button{
  color: white;
  }
  .icon-button:hover{
  color:#FFB900;
  }

  .navbar-default .navbar-brand{
    font-family: "GraphikRegular", Helvetica, Arial, sans-serif;
    font-size:1.8em;
    color:white;
  }

  .navbar-default .navbar-brand:focus, .navbar-default  a.navbar-brand:hover{
    color:white;
  }
  nav .container-fluid{
    padding-left:0;
    padding-right:0;
  }

/*Fixing the navbar logo */
@media only screen and (max-width: 450px){
.navbar-header > a.navbar-brand {
    font-size: 1.2em;
}
.navbar-header > img.logo-style{
    height: 1em;
}
}

  @media screen and (max-width: 1200px) {
    nav a.navbar-brand{
      position: absolute;
      left: 2%;
    }
  }

  /* CHANGING BREAKPOINT OF BOOTSTRAP 3 NAVIGATION BAR*/
  @media (max-width: 1200px) {
          .navbar-header {
                  float: none;
          }
          .navbar-toggle {
                  display: block;
          }
          .navbar-collapse {
                  border-top: 1px solid transparent;
                  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
          }
          .navbar-collapse.collapse {
                  display: none!important;
          }
          .navbar-collapse.collapse.in {
              display: block!important;
          }
          .navbar-nav {
                  float: none!important;
                  margin: 7.5px -15px;
          }
          .navbar-nav>li {
                  float: none;
          }
          .navbar-nav>li>a {
                  padding-top: 10px;
                  padding-bottom: 10px;
          }
      .navbar-form {
          padding: 10px 15px;
          margin-top: 8px;
          margin-right: -15px;
          margin-bottom: 8px;
          margin-left: -15px;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          width:auto;
          float:none!important;
      }
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent !important;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
  }

   .dropdown-menu {
  background-color: #fff !important;
  }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
      max-height: none !important;
  }

  body, html { overflow-x:hidden !important; }

  .s-lc-box-content{
  margin-top:50px;}

  #s-lc-eq-navform{
  display:none;
  }

  .btn-primary{
    margin:2px;
    border-width:1px !important;
    border-color:black !important;
    border-radius:0px !important;
    background-color:white !important;
    color: black !important;
    font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;

  }

  .btn-primary:hover{
    margin:2px;
    border-width:1px !important;
    border-color:black !important;
    border-radius:0px !important;
    background-color:#0C77D4 !important;
    color: white !important;
    font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;

  }

  /*hide the appointment time in cart*/
  #eid_74238{
  display:none;
  }
  /*hide remove all equipment in cart */
  #s-lc-eq-remove-all{
  display:none;
  }

  /*center booking form h1s*/
  #s-lc-eq-form h1 {
      text-align: center;
  }

  /*hide unused booking widget options*/
  select#capacity {
      display: none !important;
  }

  .s-lc-eq-co-terms h3 {
  display:none;
  }

  /*fix libcal form alignment to account for our sticky nav*/
  .s-lc-booking-form-help {
  padding-top: 4.5em;
  }

  #s-lc-eq-success-content{
  font-size:1em;
  padding-top:4.5em;
  text-align:center;
  }
  ##s-lc-eq-success{
  text-align:center;
  }

  div#s-lc-eq-bform-inner {
      margin-left: 0%;
  }

  /*adjust spacing for appointment booking h1*/
  h1#s-lc-public-pt {
      margin-bottom: 1.5em;
  }
  /*more noticeable CTA buttons!*/
  .btn.btn-primary{
   width: 100%;
      background-color: #FFB900 !important;
      border-radius: 4px !important;
      border: 0px solid !important;
      color: #333333;
      padding: 8px 20px;
      cursor: pointer;
      font-family: "GraphikRegular", Helvetica, Arial, sans-serif !important;
  }

  .btn.btn-primary:hover {
           background-color: #0C77D4 !important;
             color:white !important;
  }

  .s-lch-widget-float-btn{
  box-shadow:none !important;
  background-color:transparent;
  }
  .s-lch-widget-float.open{
  z-index:9000;
  }

  button.s-lch-widget-float-btn.online.s-lch-widget-img-btn {
      cursor: pointer;
  }

  .s-lc-skiplink {
  top:-60px;
  }

  .lib-site-alert{
    position:relative;
    width:100%;
    top:60px;
    text-align: center;
    background-color: #FFB900;
    color:black;
    display:none;
  }

  .lib-site-alert p{
      font-family:'GraphikRegular', Helvetica, Arial, sans-serif;
      font-size: 1.45em;
  }

  .lib-site-alert i {
    padding-top:1em;
  }

  .lib-site-alert p > a{
    text-decoration: underline;
    color:black;
    border:none;
    box-shadow:none;
  }
  .lib-site-alert p > a:hover {
  color: black;
  background-color: transparent;
  }

  #s-lg-box-27831781{
  background-color:transparent;
  margin:0;
  }

  .h5.lib-site-alert {
      margin-top: 0;
      margin-bottom: 0;
  }

  footer li{
    list-style: none;
  }

  footer  {
    width:  100%;
    padding:  25px;
    line-height: 1.5em;
    font-size:.8em;
    background-color: #ffce2e;
    color: #000;
    margin-top:3em;
}

footer a{
  color:black;
  text-decoration: underline;
}

footer a:hover{
  text-decoration: none;
  color:black;
}

#s-lc-footer-support-link{
  display:none;
}

  </style>
